# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2020-2022 Intel Corporation

---
# This role checks if the libbpf is already installed.
# If not, then it installs it.
- name: check if libbpf shared lib is already installed
  stat:
    path: /usr/lib/libbpf.so
  register: bpf_shared_installed
  tags:
    - check_libbpf

- name: check if libbpf static lib is already installed
  stat:
    path: /usr/lib/libbpf.a
  register: bpf_static_installed
  tags:
    - check_libbpf

- name: libbpf installed check result
  debug:
    msg: libbpf already installed
  when: bpf_static_installed.stat.exists == True or bpf_shared_installed.stat.exists == True
  tags:
    - check_libbpf

- name: Unarchive libbpf
  unarchive:
    src: https://github.com/libbpf/libbpf/archive/refs/tags/v0.3.tar.gz
    dest: /tmp
    remote_src: yes
  when: bpf_static_installed.stat.exists == False or bpf_shared_installed.stat.exists == False
  environment: "{{ proxy_env }}"
  tags:
    - unarchive_libbpf

- name: Install libbpf
  make:
    chdir: /tmp/libbpf-0.3/src
    target: install
    params:
      NUM_THREADS: "{{ num_threads }}"
      LIBDIR: /usr/lib
  when: bpf_static_installed.stat.exists == False or bpf_shared_installed.stat.exists == False
  tags:
    - install_libbpf

- name: check xsk_socket__create_shared
  shell: nm /usr/lib/libbpf.so.0 | grep -q xsk_socket__create_shared && echo "FOUND" || echo "NOT FOUND"
  register: xsk_shared_check_output
  tags:
    - check_xsk_shared

- name: Print xsk_socket__create_shared result
  debug:
    msg: xsk_socket__create_shared check result {{ xsk_shared_check_output.stdout }}
  when: xsk_shared_check_output.stdout != "FOUND"
  tags:
     - check_xsk_shared
