# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2020-2022 Intel Corporation

---

- hosts: cndp
  vars:
    localhost_install: false
  become: true
  become_user: root
  gather_facts: true
  roles:
    - check_os
    - check_hugepages
    - common
    - setup_hugepages
    - install_kernel
    - check_updated_kernel
    - install_libbpf
